body, html {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  height: 100vh;
}

.dnd-signup {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  align-items: flex-start;
  background: linear-gradient(to bottom, #ebe9ed, #039726);
  padding: 20px;
  border-radius: 0;
}

.dnd-signup h2 {
  background: -webkit-linear-gradient(left, #f60116, #f77103);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.employee-form h2 {
  background: linear-gradient(to bottom, #f88604, #ff3c00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.heroes {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  color: #8d600b;
  align-items: center;
  background: linear-gradient(to bottom, #ebe9ed, #039726);
  padding: 20px;
  border-radius: 0;
}

.heroes h2 {
  background: -webkit-linear-gradient(left, #ee6402, #f00303);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.employee-form h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #070b0f;
}

.employee-form label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #070708;
}

.employee-form input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  border: 2px solid #0c0c0c;
  width: 100%;
}

.employee-form button {
  padding: 0.5rem 1rem;
  background-color: #5e0101;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  border: 2px solid #080808;
}

.employee-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #090909;
  align-items: center;
  background-color: #039726;
  padding: 20px;
  border-radius: 10px;
}

.employee-list h1 {
  font-size: 24px;
  margin-bottom: 16px;
}

.employee-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.employee-list li {
  margin-bottom: 8px;
}

.employee-list li a {
  color: #10c5ed;
  text-decoration: none;
}
